# Snap packages to install in this machine. This comment is important to
# ensure that chezmoi copies this file, even when no template is expanded.

{{- if .install.signal }}
signal-desktop
{{- end }}
