# vim: set ft=conf:

# Configurable packages
{{- if .install.bat }}
brew "bat"
{{- end }}

{{- if .install.bottom }}
brew "bottom"
{{- end }}

{{- if .install.cmake }}
brew "cmake"
{{- end }}

{{- if .install.crush }}
tap "charmbracelet/tap", trusted: true
brew "charmbracelet/tap/crush"
{{- end }}

{{- if .install.fd }}
brew "fd"
{{- end }}

{{- if .install.fzf }}
brew "fzf"
{{- end }}

{{- if .install.lf }}
brew "lf"
{{- end }}

{{- if .install.lsd }}
brew "lsd"
{{- end }}

{{- if .install.neovim }}
brew "tree-sitter-cli"
brew "neovim", postinstall: "${HOMEBREW_PREFIX}/bin/nvim --headless -c 'Lazy! sync' -c 'qa' >> {{ .xdg.log_file }} 2>&1"
{{- end }}

{{- if .install.ninja }}
brew "ninja"
{{- end }}

{{- if .install.nmap }}
brew "nmap"
{{- end }}

{{- if .install.nushell }}
brew "nushell"
{{- end }}

{{- if .install.pi }}
brew "pi-coding-agent"
{{- end }}

{{- if .install.ripgrep }}
brew "ripgrep"
{{- end }}

{{- if .install.sd }}
brew "sd"
{{- end }}

{{- if .install.shellcheck }}
brew "shellcheck"
{{- end }}

{{- if .install.starship }}
brew "starship"
{{- end }}

{{- if .install.tldr }}
brew "tealdeer"
{{- end }}

{{- if .install.tinty }}
tap "tinted-theming/tinted", trusted: true
brew "tinted-theming/tinted/tinty", postinstall: "{ ${HOMEBREW_PREFIX}/bin/tinty install && ${HOMEBREW_PREFIX}/bin/tinty apply base16-tomorrow-night-eighties; } >> {{ .xdg.log_file }} 2>&1"
{{- end }}

{{- if .install.tmux }}
brew "tmux", postinstall: 'infocmp tmux-256color >/dev/null 2>&1 || { tmpfile=$(mktemp) && curl -fsSL -o "$tmpfile" https://gist.githubusercontent.com/nicm/ea9cf3c93f22e0246ec858122d9abea1/raw/tmux-256color && tic -x -o ~/.terminfo "$tmpfile"; rc=$?; rm -f "$tmpfile"; exit "$rc"; }'
{{- end }}

{{- if .install.tree }}
brew "tree"
{{- end }}

{{- if .install.uv }}
brew "uv"
{{- end }}

{{- if .install.wget }}
brew "wget"
{{- end }}

{{- if .install.zellij }}
brew "zellij"
{{- end }}

{{- if and .platform.gui .platform.nerdfonts }}
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
{{- end }}

{{- if .install.claude }}
cask "claude-code"
{{- end }}

{{- if .install.codex }}
cask "codex"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
brew "mas"

{{- if .install.iproute2 }}
brew "iproute2mac"
{{- end }}

{{- if .install.zsh }}
brew "zsh"
{{- end }}

{{- if .install.alacritty }}
cask "alacritty"
{{- end }}

{{- if .install.docker }}
cask "docker-desktop"
{{- end }}

{{- if .install.ghostty }}
cask "ghostty"
{{- end }}

{{- if .install.iterm2 }}
cask "iterm2"
{{- end }}

{{- if .install.karabiner }}
cask "karabiner-elements"
{{- end }}

{{- if .install.kitty }}
cask "kitty"
{{- end }}

{{- if .install.wezterm }}
cask "wezterm"
{{- end }}

{{- if .install.wireguard }}
mas "WireGuard", id: 1451685025
{{- end }}
{{- end }}
