#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR

# Raspberry Pi OS uses a small default swap size.
{{ if eq .platform.distro "pi" }}
    {{ if .platform.sudo }}
    info 'Increase swap size'
    log sudo dphys-swapfile swapoff
    log sudo sed -i 's/^CONF_SWAPSIZE=.*/CONF_SWAPSIZE=2000/' /etc/dphys-swapfile
    log sudo dphys-swapfile setup
    log sudo dphys-swapfile swapon
    {{ else }}
    warn 'Could not increase swap size (missing sudo)'
    {{ end }}
{{ end }}
