#!/usr/bin/env bash
# vim: set ft=bash:

# This script is set to re-execute when there's a change in the chezmoi.toml
# configuration. Including the hash value from the .scriptstate directory allows
# the script to detect changes in this file, ensuring it runs again whenever
# necessary to reflect any new configurations or installation requirements.
# {{ include ".scriptstate/chezmoi.toml.hash" }} 

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

{{ if .platform.apt }}
info 'Upgrade and autoremove apt packages'

export DEBIAN_FRONTEND=noninteractive
export DEBIAN_PRIORITY=critical
log sudo -E apt-get -qy update
log sudo -E apt-get -qy \
    -o Dpkg::Options::="--force-confdef" \
    -o Dpkg::Options::="--force-confold" upgrade
log sudo -E apt-get -qy autoremove

while read -r line; do
    if ! apt list --installed 2>/dev/null | grep -q "^$line"; then
        info "Installing $line"
        log sudo -E apt-get -qy install "$line"
    fi
done < <(grep -vE '^\s*(#|$)' "$XDG_CONFIG_HOME/aptitude/Aptfile" | awk '!seen[$0]++')
{{ end }}

{{ if .platform.snap }}
while read -r line; do
    pkg="${line%% *}"
    if ! snap list "$pkg" >/dev/null 2>&1; then
        info "Installing $pkg"
        log sudo snap install $line
    fi
done < <(grep -vE '^\s*(#|$)' "$XDG_CONFIG_HOME/snap/Snapfile" | awk '!seen[$0]++')
{{ end }}

{{ if and (eq .chezmoi.os "linux") .platform.gui .platform.snap .install.alacritty }}
if has alacritty; then
    info 'Creating alacritty terminfo entry'
    log sh -c "curl -fsSL https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info | sudo tic -xe alacritty,alacritty-direct -"
fi
{{ end }}

{{ if .platform.brew }}
load_brew_environment() {
    if [ -x /opt/homebrew/bin/brew ]; then
        eval "$(/opt/homebrew/bin/brew shellenv)"
    elif [ -x /usr/local/bin/brew ]; then
        eval "$(/usr/local/bin/brew shellenv)"
    elif [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    fi
}

if ! has brew; then
    info 'Installing homebrew'
    brew_url='https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh'
    log NONINTERACTIVE=1 bash -c "$(curl -fsSL "$brew_url")"
fi

load_brew_environment
log brew update

info 'Installing formulas from Brewfile'
brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile"
{{ end }}

{{ if or .install.ruby .install.rust .install.node .install.python .install.go }}
if ! has mise; then
    info 'Installing mise'
    log sh -c "curl -fsSL https://mise.run | sh"
fi

info 'Installing mise tools'
log mise install

info 'Upgrading mise tools'
log mise upgrade
{{ end }}
