#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

{{ if .install.zsh }}
if has zsh && ! echo "$SHELL" | grep -q 'zsh'; then
    {{ if .platform.sudo }}
        info 'Set zsh as default shell'
        log sudo chsh -s "$(command -v zsh)" "$USER"
    {{ else }}
        warn 'Could not make zsh the default shell (missing sudo)'
    {{ end }}
fi
{{ end }}

{{ if not .platform.brew }}
{{ if .install.tinty }}
if has tinty && [ ! -f "$XDG_DATA_HOME/tinted-theming/tinty/artifacts/current_scheme" ]; then
    info 'Installing and applying tinty color scheme'
    log tinty install
    log tinty apply base16-tomorrow-night-eighties
fi
{{ end }}

{{ if .install.neovim }}
if has nvim && [ ! -d "$XDG_DATA_HOME/nvim/lazy" ]; then
    info 'Installing nvim plugins'
    log nvim --headless -c 'Lazy! sync' -c 'qa'
fi
{{ end }}
{{ end }}

{{ if eq .chezmoi.hostname "Catch" -}}
info 'Change dotfile repository from HTTPS to SSH'
git -C "$HOME/.local/share/chezmoi" remote set-url origin git@github.com-private:tummetott/dotfiles.git
{{ end -}}
{{ if or (eq .chezmoi.hostname "Void") (eq .chezmoi.hostname "big-fuzz") (eq .chezmoi.hostname "fuzzy-bear") -}}
info 'Change dotfile repository from HTTPS to SSH'
git -C "$HOME/.local/share/chezmoi" remote set-url origin git@github.com:tummetott/dotfiles.git
{{ end -}}

compl 'Installation successful. You should reboot now!'
