#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR

# Git is a dependency for chezmoi external sources, so apt systems install it
# before externals are downloaded.
{{ if .platform.apt }}
if ! has git; then
    info 'Installing git'
    log sudo apt-get -q update
    log sudo apt-get -qy install git
fi
{{ end }}
