{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "srlabs": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "SRLabs",
      "options": {
        "baseURL": "http://10.10.45.86:8080/v1",
        "apiKey": "not-needed"
      },
      "models": {
        "srlabs/default": {
          "name": "SRLabs default"
        }
      }
    }
  }
}
