#!/usr/bin/env sh
# vim: set ft=bash:

{{- if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
alias bat='batcat'
alias btm='bottom'
alias lf='lfm'
alias wezterm='flatpak run org.wezfurlong.wezterm'
{{- end }}

{{- if contains "darwin" .osid }}
alias pwdf='finder-path'
alias cdf='cd "$(finder-path)"'
alias sudoedit='sudo -e'
alias shutdown='shutdown -h'
{{- end }}

if command -v lsd > /dev/null; then
    alias ls='lsd'
fi
alias ll='ls -l'
alias la='ls -la'

# Also expand aliases when running a sudo command. When you use an alias with a
# trailing space in its definition, it tells the shell to try to expand the next
# word as an alias too
alias sudo='sudo '

# Since 'xterm-kitty' or 'alacritty' terminfo is most likley not installed on
# remote servers we use the very common xterm-256color for ssh
alias ssh='env TERM=xterm-256color ssh'

# git aliases
alias ga='git add'
alias gcm='git commit -m'
alias gst='git status'
alias gd='git diff'
alias gp='git push'

# tmux aliases
alias ta='tmux attach -t'
alias tn='tmux new-session -s'
alias tl='tmux list-sessions'
alias tks='tmux kill-server'
alias td='tmux kill-session -t'

alias cm='chezmoi'
alias c='cd ~/.local/share/chezmoi'
alias n='cd ~/.local/share/chezmoi/dot_config/nvim/lua/tummetott/'

{{- if eq .chezmoi.hostname "Void" }}

# Useful to compare with my own nvim config. Must be installed manually before
alias chad='NVIM_APPNAME=chad nvim'
alias astro='NVIM_APPNAME=astro nvim'
alias lazy='NVIM_APPNAME=lazyvim nvim'
alias ovim='NVIM_APPNAME=nvim-old nvim'

{{- end }}

alias playground='cd ~/thesis/playground'
