# vim: set ft=toml:
{{- $osid := .chezmoi.os }}
{{- if eq $osid "darwin" }}
    {{- if output "system_profiler" "SPHardwareDataType" | regexMatch "Virtual" }}
        {{- $osid = "darwin-vm" }}
    {{- end }}
{{- else if hasKey .chezmoi.osRelease "id" }}
    {{- if and (eq .chezmoi.osRelease.id "debian") (glob "/boot/config.txt") }}
        {{- $osid = "raspberrypi" }}
    {{- else }}
        {{- $osid = .chezmoi.osRelease.id }}
    {{- end }}
    {{- if lookPath "systemd-detect-virt" }}
        {{- if not (output "sh" "-c" "systemd-detect-virt || true" | trim | eq "none") }}
            {{- $osid = printf "%s-vm" $osid }}
        {{- end }}
    {{- end }}
{{- end }}

encryption = "age"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age1py04fpx5dan88dsvz5thm37aaj4p93jrasqj7lfxw8u4r7w0capswq8zcv"

[merge]
command = "nvimdiff"

[github]
refreshPeriod = "168h"

[scriptEnv]
XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"
XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
BOOTSTRAP_LOG_FILE = "/tmp/chezmoi.log"

[data]
osid = {{ $osid | quote }}
{{- if eq "darwin" $osid }}
fontsize = 17.0
{{- else if eq "darwin-vm" $osid }}
fontsize = 21.0
{{- else if regexMatch "ubuntu|pop" $osid }}
fontsize = 13.0
{{- else if contains "kali" $osid }}
fontsize = 12.0
{{- end }}
nerdfonts = true

[data.xdg]
config_home = "{{ .chezmoi.homeDir }}/.config"
data_home = "{{ .chezmoi.homeDir }}/.local/share"
state_home = "{{ .chezmoi.homeDir }}/.local/state"
cache_home = "{{ .chezmoi.homeDir }}/.cache"

[data.install]
{{- if contains "darwin" $osid }}
alacritty = true
amphetamine = false
anki = false
appcleaner = false
bat = false
bottom = false
chrome = false
cmake = false
conda = false
discord = false
docker = false
etcher = false
fd = true
firefox = false
folx = false
fzf = true
go = false
iproute2 = false
iterm2 = true
jabref = false
karabiner = true
keka = false
kitty = false
lf = false
lsd = true
lulu = false
magnet = false
neofetch = false
neovim = true
ninja = false
nmap = false
node = false
nushell = false
perl = false
ripgrep = true
ruby = false
rust = false
sd = true
seafile = false
shellcheck = false
signal = false
starship = true
sublime = false
texifier = false
tldr = true
tmux = false
transmission = false
tree = true
typora = false
uv = false
vlc = false
wezterm = true
wget = true
wireguard = false
wireshark = false
xclip = false
xld = false
yate = false
zellij = true
zoom = false
zsh = true
{{- end }}

{{- if regexMatch "ubuntu|pop" $osid }}
alacritty = true
bat = false
bottom = false
build_essential = true
cmake = false
conda = false
fd = true
flatpak = false
fzf = true
gnome_tweaks = false
go = false
iproute2 = true
kitty = false
lf = false
lsd = true
neofetch = false
neovim = true
ninja = false
nmap = false
node = false
nushell = false
perl = false
python = false
ripgrep = true
ruby = false
rust = false
sd = false
shellcheck = false
signal = false
starship = true
tldr = true
tmux = false
tree = true
uv = false
wezterm = true
wget = true
zellij = true
zsh = true
{{- end }}

{{- if contains "kali" $osid }}
alacritty = true
bat = false
bottom = false
build_essential = true
cmake = false
conda = false
fd = true
flatpak = true
fzf = true
gnome_tweaks = false
go = false
iproute2 = true
kitty = false
lf = false
lsd = true
neofetch = false
neovim = true
ninja = false
nmap = false
node = false
nushell = false
perl = false
python = false
ripgrep = true
ruby = false
rust = false
sd = false
shellcheck = false
signal = false
starship = true
tldr = true
tmux = false
tree = true
uv = false
wezterm = true
wget = true
zellij = true
zsh = true
{{- end }}

{{- if contains "raspberrypi" $osid }}
bat = false
bottom = false
build_essential = false
cmake = false
fd = false
fzf = true
go = false
iproute2 = true
lf = false
lsd = true
neofetch = false
neovim = true
ninja = false
nmap = false
node = false
nushell = false
perl = false
python = false
ripgrep = false
ruby = false
rust = false
sd = false
shellcheck = false
starship = false
tldr = false
tmux = false
tree = false
uv = false
wget = false
zellij = true
zsh = true
{{- end }}
