# vim: set ft=toml:
{{- $sudo := promptBoolOnce . "platform.sudo" "Enable sudo-based setup?" true }}
{{- $gui := promptBoolOnce . "platform.gui" "Install GUI applications?" true }}
{{- $darwin := eq .chezmoi.os "darwin" }}
{{- $linux := eq .chezmoi.os "linux" }}

{{- $distro := .chezmoi.os }}
{{- $vm := false }}

{{- if $darwin }}
    {{- if output "system_profiler" "SPHardwareDataType" | regexMatch "Virtual" }}
        {{- $vm = true }}
    {{- end }}

{{- else if hasKey .chezmoi.osRelease "id" }}
    {{- if and (eq .chezmoi.osRelease.id "debian") (glob "/boot/config.txt") }}
        {{- $distro = "pi" }}
    {{- else }}
        {{- $distro = .chezmoi.osRelease.id }}
    {{- end }}

    {{- if lookPath "systemd-detect-virt" }}
        {{- if exec "systemd-detect-virt" "--quiet" }}
            {{- $vm = true }}
        {{- end }}
    {{- end }}
{{- end }}

{{- $darwinVm := and $vm $darwin }}
{{- $linuxVm := and $vm $linux }}

{{- $apt := and
    $sudo
    $linux
    (ne (lookPath "apt-get") "")
}}

{{- $snap := and $sudo $linux (ne (lookPath "snap") "") }}

{{- $brew := and
    (ne $distro "pi")
    (or
        (ne (lookPath "brew") "")
        (and
            $sudo
            (or
                $darwin
                (and
                    $linux
                    (or
                        (eq .chezmoi.arch "amd64")
                        (eq .chezmoi.arch "arm64")
                    )
                )
            )
        )
    )
}}

{{- $darwinBrew := and $darwin $brew }}
{{- $linuxBrew := and $linux $brew }}

{{- $fontsize := 13.0 }}
{{- if $darwin }}
{{- $fontsize = 17.0 }}
{{- else if eq $distro "kali" }}
{{- $fontsize = 12.0 }}
{{- end }}

encryption = "age"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age1py04fpx5dan88dsvz5thm37aaj4p93jrasqj7lfxw8u4r7w0capswq8zcv"

[merge]
command = "nvimdiff"

[github]
refreshPeriod = "168h"

[scriptEnv]
XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"
XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
BOOTSTRAP_LOG_FILE = "{{ .chezmoi.homeDir }}/.local/state/chezmoi/bootstrap.log"

[data.xdg]
config_home = "{{ .chezmoi.homeDir }}/.config"
data_home = "{{ .chezmoi.homeDir }}/.local/share"
state_home = "{{ .chezmoi.homeDir }}/.local/state"
cache_home = "{{ .chezmoi.homeDir }}/.cache"
log_file = "{{ .chezmoi.homeDir }}/.local/state/chezmoi/bootstrap.log"

[data.platform]
distro = {{ $distro | quote }}
vm = {{ $vm }}
sudo = {{ $sudo }}
gui = {{ $gui }}
apt = {{ $apt }}
brew = {{ $brew }}
snap = {{ $snap }}
nerdfonts = true
fontsize = {{ $fontsize }}

[data.install]
# Core terminal tools
fzf = true
lsd = true
neovim = true
ripgrep = true
starship = true
tinty = true
zellij = true
zsh = true

# Everything else, only available through specific package managers
{{- if and $gui (not $darwinVm) (or $darwinBrew $snap) }}
alacritty = false
{{- end }}
{{- if $brew }}
bat = false
{{- end }}
{{- if $brew }}
bottom = false
{{- end }}
{{- if $brew }}
claude = false
{{- end }}
{{- if $brew }}
cmake = false
{{- end }}
{{- if $brew }}
codex = false
{{- end }}
{{- if and $darwinBrew $gui }}
docker = false
{{- end }}
{{- if $brew }}
fd = false
{{- end }}
{{- if and $gui (or $darwinBrew $snap) }}
ghostty = true
{{- end }}
{{- if $brew }}
go = false
{{- end }}
iproute2 = false
{{- if and $darwinBrew $gui }}
iterm2 = false
{{- end }}
{{- if and $darwinBrew (not $vm) $gui }}
karabiner = true
{{- end }}
{{- if and $darwinBrew $gui }}
kitty = false
{{- end }}
{{- if $brew }}
lf = false
{{- end }}
{{- if $brew }}
mods = false
{{- end }}
{{- if $brew }}
ninja = false
{{- end }}
{{- if $brew }}
nmap = false
{{- end }}
node = false
{{- if $brew }}
nushell = false
{{- end }}
python = false
ruby = false
rust = false
{{- if $brew }}
sd = false
{{- end }}
{{- if $brew }}
shellcheck = false
{{- end }}
{{- if $brew }}
tldr = false
{{- end }}
{{- if $brew }}
tmux = false
{{- end }}
{{- if $brew }}
tree = false
{{- end }}
{{- if $brew }}
uv = false
{{- end }}
{{- if and $gui (not $darwinVm) $darwinBrew }}
wezterm = false
{{- end }}
{{- if $brew }}
wget = false
{{- end }}
{{- if or $linux (and $darwinBrew $gui) }}
wireguard = false
{{- end }}
