#!/usr/bin/env bash
# vim: set ft=bash:

# Linux starts with a login shell, then switches to interactive, non-login
# shells. MacOS does not start with a login shell, but treats all shells as
# interactive login shells. Assuming bash is the default shell, bash_profile is
# executed once on Linux but for every new shell on macOS.

# Manually sourcing bashrc, as it's not automatically read by login shells.
# Needed for macOS and SSH.
[ -f ~/.bashrc ] && source ~/.bashrc
