#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR

# Git is a dependency for chezmoi. We need it for the external sources,
# therefore it must be installed before they are downloaded. macOS has git
# installed by default.
{{ if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
if ! has git; then
    info 'Installing git'
    log sudo apt-get -q update
    log sudo apt-get -qy install git
fi
{{ end }}
