#!/usr/bin/env bash
# vim: set ft=bash:

# This script is set to re-execute when there's a change in the chezmoi.toml
# configuration. Including the hash value from the .scriptstate directory allows
# the script to detect changes in this file, ensuring it runs again whenever
# necessary to reflect any new configurations or installation requirements.
# {{ include ".scriptstate/chezmoi.toml.hash" }} 

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

{{ if not (contains "gruenau" .chezmoi.hostname) }}
# Cache the sudo password for subsequent sudo commands within this script
info "Please enter your computer's password"
sudo true
{{ end }}

{{ if contains "darwin" .osid }}
    {{ template "bootstrap/brew-packages.tmpl" . }}
{{ end }}

{{ if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    {{ template "bootstrap/aptitude-packages.tmpl" . }}
{{ end }}

{{ if .install.flatpak }}
    {{ template "bootstrap/flatpak.tmpl" . }}
{{ end }}

{{ if .install.zsh }}
    {{ template "bootstrap/zsh.tmpl" . }}
{{ end }}

{{ if .install.tmux }}
    {{ template "bootstrap/tmux.tmpl" . }}
{{ end }}

{{ if .install.fd }}
    {{ template "bootstrap/fd.tmpl" . }}
{{ end }}

{{ if .install.sd }}
    {{ template "bootstrap/sd.tmpl" . }}
{{ end }}

{{ if .install.rust }}
    {{ template "bootstrap/rust.tmpl" . }}
{{ end }}

{{ if .install.conda }}
    {{ template "bootstrap/conda.tmpl" . }}
{{ end }}

{{ if .install.starship }}
    {{ template "bootstrap/starship.tmpl" . }}
{{ end }}

{{ if .install.lsd }}
    {{ template "bootstrap/lsd.tmpl" . }}
{{ end }}

{{ if .install.wezterm }}
    {{ template "bootstrap/wezterm.tmpl" . }}
{{ end }}

{{ if .install.alacritty }}
    {{ template "bootstrap/alacritty.tmpl" . }}
{{ end }}

{{ if .install.nushell }}
    {{ template "bootstrap/nushell.tmpl" . }}
{{ end }}

{{ if .install.signal }}
    {{ template "bootstrap/signal.tmpl" . }}
{{ end }}

{{ if .install.neovim }}
    {{ template "bootstrap/neovim.tmpl" . }}
{{ end }}

{{ if .install.bottom }}
    {{ template "bootstrap/bottom.tmpl" . }}
{{ end }}
