#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

{{ if eq .chezmoi.os "darwin" }}
    {{ template "bootstrap/macos-settings.tmpl" . }}
{{ end }}

info 'Change dotfile repository from HTTPS to SSH'
pushd "$HOME/.local/share/chezmoi"
git remote set-url origin git@github.com:tummetott/dotfiles.git
popd

compl 'Installation successful. Do you want to reboot? (y/n)'
read -n 1 -s -r choice
if [ "$choice" == "Y" ] || [ "$choice" == "y" ]; then
    sudo reboot now
else
    echo 'No reboot requested'
fi
