#!/usr/bin/env bash
# vim: set ft=bash:

# This file should be re-ecexuted as soon as chezmoi.toml changes
# chezmoi.toml hash: {{ include ".hash" }} 

{{- if eq .chezmoi.os "darwin" }}
{{-   template "install-macos-packages.tmpl" . -}}
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
# TODO
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "pop") }}
# TODO
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "raspbian") }}
# TODO
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "kali") }}
# TODO
{{- end }}
