#!/usr/bin/env bash
# vim: set ft=bash:

# This script is set to re-execute under two conditions: either there's a change
# in the chezmoi.toml configuration, or the installer signals re-execution by
# updating the repeat.hash file. Including the hash values from the .scriptstate
# directory allows the script to detect changes in these critical files,
# ensuring it runs again whenever necessary to reflect any new configurations or
# installation requirements.
# {{ include ".scriptstate/chezmoi.toml.hash" }} 
# {{ include ".scriptstate/repeat.hash" }} 

source ~/.local/share/chezmoi/.script_helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

# Cache the sudo password for subsequent sudo commands within this script
sudo true

# Install packages for macOS
{{- if eq .chezmoi.os "darwin" }}
    {{- template "brew-packages.tmpl" . -}}
    {{- template "rust.tmpl" . -}}
    {{- template "conda.tmpl" . -}}
{{- end }}

# Install packages for Ubuntu
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
    {{- template "aptitude-packages.tmpl" . -}}
    {{- template "snap-packages.tmpl" . -}}
    {{- template "starship.tmpl" . -}}
    {{- template "rust.tmpl" . -}}
    {{- template "conda.tmpl" . -}}
{{- end }}

# Install packages for popOS
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "pop") }}
    # TODO
{{- end }}

# Install packages for Kali
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "kali") }}
    {{- template "aptitude-packages.tmpl" . -}}
    {{- template "snap-packages.tmpl" . -}}
    {{- template "starship.tmpl" . -}}
    {{- template "rust.tmpl" . -}}
    {{- template "conda.tmpl" . -}}
{{- end }}

# Install packages for Raspberry Pi
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "raspbian") }}
    # TODO
{{- end }}
