#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

{{ if contains "darwin" .osid }}
    {{ template "bootstrap/macos-settings.tmpl" . }}
{{ end }}

{{ if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    {{ if .sudo }}
        info 'Generate locale'
        log sudo locale-gen "en_US.UTF-8"
    {{ else }}
        warn 'Could not generate locale (missing sudo)'
    {{ end }}
{{ end }}

{{ if or (eq .chezmoi.hostname "Void") (eq .chezmoi.hostname "Catch") -}}
info 'Change dotfile repository from HTTPS to SSH'
pushd "$HOME/.local/share/chezmoi"
git remote set-url origin git@github.com:tummetott/dotfiles.git
popd
{{ end -}}

compl 'Installation successful. You should reboot now!'
