#!/usr/bin/env bash
# vim: set ft=bash:

# This script is set to re-execute under two conditions: either there's a change
# in the chezmoi.toml configuration, or the installer signals re-execution by
# updating the repeat.hash file. Including the hash values from the .scriptstate
# directory allows the script to detect changes in these critical files,
# ensuring it runs again whenever necessary to reflect any new configurations or
# installation requirements.
# {{ include ".scriptstate/chezmoi.toml.hash" }} 
# {{ include ".scriptstate/repeat.hash" }} 

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

# Cache the sudo password for subsequent sudo commands within this script
info "Please enter your computer's password"
sudo true

{{ if eq .chezmoi.os "darwin" }}
    {{ template "brew-packages.tmpl" . }}
{{ end }}

{{ if and (eq .chezmoi.os "linux") (or 
    (eq .chezmoi.osRelease.id "ubuntu")
    (eq .chezmoi.osRelease.id "pop")
    (eq .chezmoi.osRelease.id "kali")) }}
    {{ template "aptitude-packages.tmpl" . }}
    {{ template "snap-packages.tmpl" . }}
{{ end }}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "raspbian") }}
    # TODO
{{ end }}

{{ if .install.flatpak }}
    {{ template "flatpak.tmpl" . }}
{{ end }}

{{ if .install.watchman }}
    {{ template "watchman.tmpl" . }}
{{ end }}

{{ if .nerdfonts }}
    {{ template "nerdfonts.tmpl" . }}
{{ end }}

{{ if .install.zsh }}
    {{ template "zsh.tmpl" . }}
{{ end }}

{{ if .install.neovim }}
    {{ template "neovim.tmpl" . }}
{{ end }}

{{ if .install.tmux }}
    {{ template "tmux.tmpl" . }}
{{ end }}

{{ if .install.fzf }}
    {{ template "fzf.tmpl" . }}
{{ end }}

{{ if .install.rust }}
    {{ template "rust.tmpl" . }}
{{ end }}

{{ if .install.conda }}
    {{ template "conda.tmpl" . }}
{{ end }}

{{ if .install.starship }}
    {{ template "starship.tmpl" . }}
{{ end }}

{{ if .install.wezterm }}
    {{ template "wezterm.tmpl" . }}
{{ end }}
