#!/usr/bin/env bash
# vim: set ft=bash:

source ~/.local/share/chezmoi/.script-helper
set -euo pipefail
trap on_error ERR

# Git is a dependency for chezmoi. We need it for the external sources,
# therefore it must be installed before they are downloaded. macOS has git
# installed by default.
{{ if or
    (eq .osid "ubuntu")
    (eq .osid "pop")
    (eq .osid "pi")
    (eq .osid "kali") }}
if ! has git; then
    info 'Installing git'
    log sudo apt update
    log sudo apt -y install git
    warn "Chezmoi must pick up the installed git executable. Run 'chezmoi apply' to continue with the installation."
    exit 1
fi
{{ end }}
