{{- if .install.bat }}
bat
{{- end }}

{{- if .install.build_essential }}
build-essential
{{- end }}

{{- if .install.cmake }}
cmake
{{- end }}

{{- if .install.fd }}
fd-find
{{- end }}

{{- if .install.gnome_tweaks }}
gnome-tweaks
{{- end }}

{{- if .install.go }}
golang-go
{{- end }}

{{- if .install.kitty }}
kitty
{{- end }}

{{- if .install.lf }}
lfm
{{- end }}

{{- if .install.meld }}
meld
{{- end }}

{{- if .install.neofetch }}
neofetch
{{- end }}

{{- if .install.ninja }}
ninja-build
{{- end }}

{{- if .install.nmap }}
nmap
{{- end }}

{{- if .install.node }}
nodejs
npm
{{- end }}

{{- if .install.perl }}
perl
{{- end }}

{{- if .install.python }}
python3
python3-pip
{{- end }}

{{- if .install.ripgrep }}
ripgrep
{{- end }}

{{- if .install.ruby }}
ruby-full
{{- end }}

{{- if .install.shellcheck }}
shellcheck
{{- end }}

{{- if .install.tldr }}
tldr
{{- end }}

{{- if .install.tree }}
tree
{{- end }}

{{- if .install.wget }}
wget
{{- end }}
