# Apt packages to install on this machine.

{{- if .platform.brew }}
build-essential
curl
file
git
procps
{{- end }}

{{- if .platform.gui }}
gnome-tweaks
{{- end }}

{{- if .install.iproute2 }}
iproute2
{{- end }}

{{- if .install.wireguard }}
wireguard
{{- end }}

{{ if .install.neovim }}
build-essential

{{- if .platform.gui }}
# For X11
xclip

# For wayland
wl-clipboard
{{- end }}
{{- end }}

{{- if and .platform.vm .platform.gui }}
spice-vdagent
{{- end }}

{{- if .install.zsh }}
zsh
{{- end }}
