# vim: set ft=bash:

if ! (has btm || has bottom); then
    {{ if contains "darwin" .osid }}
    info 'Installing bottom'
    log brew update
    log brew install bottom

    {{ else if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    if ! has snap; then
        {{ template "bootstrap/snap.tmpl" . }}
    fi

    info 'Installing bottom'
    log sudo snap install bottom
    log sudo snap connect bottom:mount-observe
    log sudo snap connect bottom:hardware-observe
    log sudo snap connect bottom:system-observe
    log sudo snap connect bottom:process-control

    {{ else }}
    error 'No installation instructions found for: bottom'
    exit 1
    {{ end }}

fi
