# vim: set ft=bash:

# Get the installer URL of miniconda
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") }}
url='https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-aarch64.sh'
{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url='https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh'
{{ else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
url='https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-arm64.sh'
{{ else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") }}
url='https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh'
{{ else }}
error 'No conda installation instructions found for this system'
exit 1
{{ end }}

if ! [ -x "$CONDA_HOME/bin/conda" ]; then
    info 'Installing conda'
    mkdir -p "$CONDA_HOME"
    download "$url" "$CONDA_HOME/miniconda.sh"
    log bash "$CONDA_HOME/miniconda.sh" -b -u -p "$CONDA_HOME"
    rm -f "$CONDA_HOME/miniconda.sh"
fi
