# vim: set ft=bash:

if ! has lsd; then
    {{ if eq .chezmoi.os "darwin" }}
    info 'Installing lsd'
    log brew update
    log brew install lsd

    {{ else if and (eq .chezmoi.os "linux") (or
        (eq .chezmoi.osRelease.id "ubuntu")
        (eq .chezmoi.osRelease.id "pop")
        (eq .chezmoi.osRelease.id "debian")
        (eq .chezmoi.osRelease.id "kali")) }}
    if ! has rustup; then
        {{ template "bootstrap/rust.tmpl" . }}
    else
        info 'Update rustup'
        log rustup update stable
    fi
    info 'Installing lsd'
    log cargo +stable install lsd

    {{ else }}
    error 'No installation instructions found for: lsd'
    exit 1
    {{ end }}
fi
