# vim: set ft=bash:

if ! has nvim; then
    {{ if contains "darwin" .osid }}
    info 'Installing neovim'
    log brew update
    log brew install neovim

    {{ else if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    if ! has snap; then
        {{ template "bootstrap/snap.tmpl" . }}
    fi
    info 'Installing neovim'
    log sudo snap install nvim --classic

    # We need a c compiler for treesitter
    log sudo apt -y update
    log sudo apt -y install build-essential

    {{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
    url='https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage'
    log download $url ~/.local/bin/nvim
    pushd "$url"
    chmod u+x nvim
    popd

    {{ else }}
    error 'No installation instructions found for: neovim'
    exit 1
    {{ end }}
fi

if has nvim; then
    if [ ! -d "$XDG_DATA_HOME/nvim/lazy" ]; then
        info 'Installing nvim plugins'
        # TODO: this command does not install all neovim plugins.
        log nvim --headless '+Lazy! sync' +qa
    fi
fi
