# vim: set ft=bash:

# Neovim is installed and updated as chezmoiexternal. This script only runs
# additional tasks that have to be done only once

# Symlink the nvim executable to PATH
NVIM_EXECUTABLE="$HOME/.local/share/nvim-app/bin/nvim"
if [ -x "$NVIM_EXECUTABLE" ]; then
    mkdir -p "$HOME/.local/bin"
    ln -sf "$NVIM_EXECUTABLE" "$HOME/.local/bin/nvim"
fi

{{ if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    {{ if .sudo }}
        # We need a c compiler for treesitter. On macOS its pre-installed
        log sudo apt-get -q update
        log sudo apt-get -qy install build-essential
    {{ else }}
        warn 'Could not install build-essential (missing sudo)'
    {{ end }}
{{ end }}

if has nvim; then
    if [ ! -d "$XDG_DATA_HOME/nvim/lazy" ]; then
        info 'Installing nvim plugins'
        log nvim --headless -c 'Lazy! sync'  -c 'qa'
    fi
fi
