# vim: set ft=bash:

# Neovim is installed and updated as chezmoiexternal. This script only runs
# additional tasks that have to be done only once

# Symlink the nvim executable to PATH
NVIM_EXECUTABLE="$HOME/.local/share/nvim-app/bin/nvim"
if [ -x "$NVIM_EXECUTABLE" ]; then
    mkdir -p "$HOME/.local/bin"
    ln -sf "$NVIM_EXECUTABLE" "$HOME/.local/bin/nvim"
fi

{{ if regexMatch "ubuntu|pop|raspberrypi|kali" .osid }}
    # We need a c compiler for treesitter. On macOS its pre-installed
    log sudo apt -y update
    log sudo apt -y install build-essential
{{ end }}

if has nvim; then
    if [ ! -d "$XDG_DATA_HOME/nvim/lazy" ]; then
        info 'Installing Nvim plugins'
        log nvim --headless -c 'Lazy! sync'  -c 'qa'

        info 'Installing Mason LSP servers'
        log nvim --headless \
            -c 'MasonInstall lua-language-server efm-langserver shellcheck' \
            -c 'qa'
    fi
fi
