# vim: set ft=bash:

# I don't print any output because the code is run even when nerdfonts are
# installed. I don't know how to check this in a potable way.

{{ if eq .chezmoi.os "darwin" }}
log brew update
log brew install --cask 'font-fira-code-nerd-font'
log brew install --cask 'font-meslo-lg-nerd-font'
{{ end }}

# Nerdfonts for linux are installed as external source

{{ if and (eq .chezmoi.os "linux") (or
        (eq .chezmoi.osRelease.id "ubuntu")
        (eq .chezmoi.osRelease.id "pop")
        (eq .chezmoi.osRelease.id "debian")
        (eq .chezmoi.osRelease.id "kali")) }}
    if ! has fc-cache; then
        info 'Installing fontconfig'
        log sudo apt update
        log sudo apt -y fontconfig
    fi
    info 'Update font cache'
    log fc-cache -f -v
{{ end }}
