# vim: set ft=bash:

if ! has nu; then
    {{ if contains "darwin" .osid }}
    info 'Installing nushell'
    log brew update
    log brew install nushell

    {{ else if regexMatch "ubuntu|pop|pi|kali" .osid }}
    if ! has rustup; then
        {{ template "bootstrap/rust.tmpl" . }}
    else
        log rustup update stable
    fi
    info 'Installing dependencies for nushell'
    log sudo apt -y update
    log sudo apt -y install pkg-config libssl-dev build-essential

    info 'Installing nushell'
    log cargo +stable install nu

    {{ else }}
    error 'No installation instructions found for: nushell'
    exit 1
    {{ end }}
fi
