# vim: set ft=bash:

if ! has sd; then
    {{ if contains "darwin" .osid }}
    info 'Installing sd'
    log brew update
    log brew install sd

    {{ else if regexMatch "ubuntu|pop|pi|kali" .osid }}
    if ! has rust; then
        {{ template "bootstrap/rust.tmpl" . }}
    else
        log rustup update stable
    fi
    info 'Installing sd'
    log cargo +stable install sd

    {{ else }}
    error 'No installation instructions found for: sd'
    exit 1
    {{ end }}
fi
