# vim: set ft=bash:

if ! has sd; then
    {{ if eq .chezmoi.os "darwin" }}
    info 'Installing sd'
    log brew update
    log brew install sd

    {{ else if and (eq .chezmoi.os "linux") (or
        (eq .chezmoi.osRelease.id "ubuntu")
        (eq .chezmoi.osRelease.id "pop")
        (eq .chezmoi.osRelease.id "debian")
        (eq .chezmoi.osRelease.id "kali")) }}
    if ! has rust; then
        {{ template "bootstrap/rust.tmpl" . }}
    fi
    info 'Installing sd'
    log rustup update
    log cargo install sd

    {{ else }}
    error 'No installation instructions found for: sd'
    exit 1
    {{ end }}
fi
