# vim: set ft=bash:

{{ if and .sudo (regexMatch "ubuntu|pop|raspberrypi|kali" .osid) }}

    info 'Installing snap'
    log sudo apt -y update
    log sudo apt -y install snapd

    {{ if contains "kali" .osid }}
        log sudo systemctl enable --now snapd snapd.apparmor
    {{ end }}

    {{ if contains "raspberrypi" .osid }}
        log sudo snap install core
    {{ end }}

    warn "The system needs a reboot in order to use snap. Run 'chezmoi apply' after reboot to continue the installation."
    info 'Press any key to restart!'
    read -n 1 -s -r
    sudo reboot now

{{ else }}

    error 'No installation instructions found for: snap'

{{ end }}
