# vim: set ft=bash:

is_wezterm_installed() {
    if has wezterm; then
        return 0
    elif has flatpak && flatpak list --app | grep -qi 'wezterm'; then
        return 0
    fi
    return 1
}

if ! is_wezterm_installed; then
    {{ if eq .osid "darwin" }}
    info 'Installing wezterm'
    log brew update
    log brew install --cask wezterm

    {{ else if regexMatch "ubuntu|pop|kali" .osid }}
    if ! has flatpak; then
        {{ template "bootstrap/flatpak.tmpl" . }}
    fi
    info 'Installing wezterm'
    log flatpak install --noninteractive --user flathub org.wezfurlong.wezterm

    {{ else }}
    error 'No wezterm installation instructions found for this system'
    exit 1
    {{ end }}
fi

if ! infocmp wezterm &> /dev/null; then
    info 'Create terminfo entry for wezterm'
    tempfile=$(mktemp) \
        && curl -so $tempfile https://raw.githubusercontent.com/wez/wezterm/main/termwiz/data/wezterm.terminfo \
        && tic -x -o ~/.terminfo $tempfile \
        && rm $tempfile
fi
