# vim: set ft=toml:

[tools]
{{- if .install.node }}
node = "24"
{{- end }}
{{- if .install.python }}
python = "3.13"
{{- end }}
{{- if .install.go }}
go = "latest"
{{- end }}
{{- if .install.rust }}
rust = "stable"
{{- end }}
{{- if .install.ruby }}
ruby = "latest"
{{- end }}
