// vim: set ft=kdl:

{{- $background := 0 }}
{{- $darkest_grey := 18 }}
{{- $dark_grey := 19 }}
{{- $grey := 8 }}
{{- $bright_grey := 20 }}
{{- $foreground := 7 }}
{{- $bright_white := 21 }}
{{- $brightest_white := 15 }}
{{- $red := 1 }}
{{- $bright_red := 9 }}
{{- $orange := 16 }}
{{- $yellow := 3 }}
{{- $bright_yellow := 11 }}
{{- $green := 2 }}
{{- $bright_green := 10 }}
{{- $cyan := 6 }}
{{- $bright_cyan := 14 }}
{{- $blue := 4 }}
{{- $bright_blue := 12 }}
{{- $purple := 5 }}
{{- $bright_purple := 13 }}
{{- $dark_red := 17 }}

themes {
    tinted {
        // Border between panes when unselected
        frame_unselected {
            base {{ $dark_grey }}
            background {{ $background }}
            emphasis_0 {{ $background }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $background }}
            emphasis_3 {{ $background }}
        }
        // Border between panes when selected
        frame_selected {
            base {{ $dark_grey }}
            background {{ $background }}
            emphasis_0 {{ $background }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $background }}
            emphasis_3 {{ $background }}
        }
        // Border between panes when not in normal mode
        frame_highlight {
            base {{ $foreground }}
            background {{ $background }}
            emphasis_0 {{ $background }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $background }}
            emphasis_3 {{ $background }}
        }
        text_selected {
            base {{ $foreground }}
            background {{ $dark_grey }}
            emphasis_0 {{ $background }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $background }}
            emphasis_3 {{ $background }}
        }
    }
}
