// vim: set ft=kdl:

{{- $background := 0 }}
{{- $darkest_grey := 18 }}
{{- $dark_grey := 19 }}
{{- $grey := 8 }}
{{- $bright_grey := 20 }}
{{- $foreground := 7 }}
{{- $bright_white := 21 }}
{{- $brightest_white := 15 }}
{{- $red := 1 }}
{{- $bright_red := 9 }}
{{- $orange := 16 }}
{{- $yellow := 3 }}
{{- $bright_yellow := 11 }}
{{- $green := 2 }}
{{- $bright_green := 10 }}
{{- $cyan := 6 }}
{{- $bright_cyan := 14 }}
{{- $blue := 4 }}
{{- $bright_blue := 12 }}
{{- $purple := 5 }}
{{- $bright_purple := 13 }}
{{- $dark_red := 17 }}

themes {
    // TODO: investiage when emphasis groups are actually used. Currently, i
    // just put random colors because i dont see the effect
    tinted {
        text_unselected {
            base {{ $brightest_white }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        text_selected {
            base {{ $foreground }}
            background {{ $dark_grey }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        ribbon_unselected {
            base {{ $background }}
            background {{ $foreground }}
            emphasis_0 {{ $red }}
            emphasis_1 {{ $brightest_white }}
            emphasis_2 {{ $blue }}
            emphasis_3 {{ $purple }}
        }
        ribbon_selected {
            base {{ $background }}
            background {{ $green }}
            emphasis_0 {{ $red }}
            emphasis_1 {{ $bright_red }}
            emphasis_2 {{ $purple }}
            emphasis_3 {{ $blue }}
        }
        table_title {
            base {{ $green }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        table_cell_unselected {
            base {{ $brightest_white }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        table_cell_selected {
            base {{ $brightest_white }}
            background {{ $darkest_grey }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        list_unselected {
            base {{ $brightest_white }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        list_selected {
            base {{ $brightest_white }}
            background {{ $darkest_grey }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $green }}
            emphasis_3 {{ $purple }}
        }
        frame_selected {
            base {{ $dark_grey }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $purple }}
            emphasis_3 {{ $background }}
        }
        frame_unselected {
            base {{ $dark_grey }}
            background {{ $background }}
            emphasis_0 {{ $bright_red }}
            emphasis_1 {{ $cyan }}
            emphasis_2 {{ $purple }}
            emphasis_3 {{ $background }}
        }
        frame_highlight {
            base {{ $foreground }}
            background {{ $background }}
            emphasis_0 {{ $purple }}
            emphasis_1 {{ $bright_red }}
            emphasis_2 {{ $bright_red }}
            emphasis_3 {{ $bright_red }}
        }
        exit_code_success {
            base {{ $green }}
            background {{ $background }}
            emphasis_0 {{ $cyan }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $purple }}
            emphasis_3 {{ $blue }}
        }
        exit_code_error {
            base {{ $red }}
            background {{ $background }}
            emphasis_0 {{ $yellow }}
            emphasis_1 {{ $background }}
            emphasis_2 {{ $background }}
            emphasis_3 {{ $background }}
        }
        multiplayer_user_colors {
            player_1 {{ $purple }}
            player_2 {{ $blue }}
            player_3 {{ $background }}
            player_4 {{ $yellow }}
            player_5 {{ $cyan }}
            player_6 {{ $background }}
            player_7 {{ $red }}
            player_8 {{ $background }}
            player_9 {{ $background }}
            player_10 {{ $background }}
        }
    }
}
