#!/usr/bin/env sh
# vim: set ft=bash:

background='colour0'
darkest_grey='colour18'
dark_grey='colour19'
grey='colour8'
bright_grey='colour20'
foreground='colour7'
bright_white='colour21'
brightest_white='colour15'
red='colour1'
bright_red='colour9'
orange='colour16'
yellow='colour3'
bright_yellow='colour11'
green='colour2'
bright_green='colour10'
cyan='colour6'
bright_cyan='colour14'
blue='colour4'
bright_blue='colour12'
purple='colour5'
bright_purple='colour13'
dark_red='colour17'

# Set the color of the highlighted text in copy-mode
tmux setw -g mode-style 'fg=${background},bg=${bright_grey}'

# Sets the color of the current match
tmux setw -g copy-mode-current-match-style 'fg=${background},bg=${orange}'

# Sets the color of all matches except the current match
tmux setw -g copy-mode-match-style 'fg=${background},bg=${bright_grey}'

# Sets the color of tmux messages
tmux setw -g message-style 'fg=${blue},bg=${background}'

tmux set -g pane-border-style fg='${dark_grey}',bg='${background}'
tmux set -g pane-active-border-style fg='${dark_grey}',bg='${background}'

# Syntax explanation:
#   #I = window number
#   #W = window name
#   #S = session name
#   #{?CONDITION,PRINT_WHEN_TRUE,PRINT_WHEN_FALSE} = replacement conditional
#   #{!=:FIRST,LAST} returns '1' if FIRST != LAST and returns '0' otherwise

# Set default colors for the line
tmux set -g status-style "fg=${bright_grey},bg=${background}"

{{- if .nerdfonts }}

# All window tabs but the current
tmux setw -g window-status-format "#[\
    bg=${background},fg=${darkest_grey}]#[\
    bg=${darkest_grey},fg=${bright_grey},bold] #I #[\
    bg=${background},fg=${darkest_grey}]";

# Current window tab
tmux setw -g window-status-current-format "#[\
    bg=${background},fg=${darkest_grey}]#[\
    bg=${darkest_grey},fg=${blue},bold] #I #[\
    bg=${background},fg=${darkest_grey}]";

# Right side shows the executed command, the hostname, the time and the session
tmux set -g status-right "#[\
    bg=${background},fg=${red}]#{?#{!=:#{selection_present},}, im COPY MODE ,}#[\
    bg=${background},fg=${cyan}]#{?window_zoomed_flag, 󰍉 ZOOM ENABLED ,}#[\
    bg=${background},fg=${darkest_grey}]#[\
{{- if contains "darwin" .osid }}
    bg=${darkest_grey},fg=${bright_grey}]  #W   #(scutil --get ComputerName)   %H:%M  󰄷 #S #[\
{{- else }}
    bg=${darkest_grey},fg=${bright_grey}]  #W   #h   %H:%M  󰄷 #S #[\
{{- end }}
    bg=${background},fg=${darkest_grey}]"

{{- else }}

# All window tabs but the current
tmux setw -g window-status-format "#[bg=${darkest_grey},fg=${bright_grey},bold]  #I  ";

# Current window tab
tmux setw -g window-status-current-format "#[bg=${darkest_grey},fg=${blue},bold]  #I  ";

# Right side shows the executed command, the hostname, the time and the session
tmux set -g status-right "#[\
    bg=${background},fg=${red}]#{?#{!=:#{selection_present},}, Vim COPY MODE ,}#[\
    bg=${background},fg=${cyan}]#{?window_zoomed_flag, ZOOM ENABLED ,}#[\
{{- if contains "darwin" .osid }}
    bg=${darkest_grey},fg=${bright_grey}]  CMD: #W  HOST: #(scutil --get ComputerName)  TIME: %H:%M  SESSION: #S  ";
{{- else }}
    bg=${darkest_grey},fg=${bright_grey}]  CMD: #W  HOST: #h  TIME: %H:%M  SESSION: #S  ";
{{- end }}

{{- end }}
