-- vim: set ft=lua:

local wezterm = require 'wezterm'
local config = {}

config.font = wezterm.font 'FiraCode Nerd Font Mono'
---@diagnostic disable-next-line: malformed-number
config.font_size = {{ .fontsize }}
config.enable_tab_bar = false
config.audible_bell = 'Disabled'
config.colors = {
    cursor_fg = 'black',
    cursor_bg = '#c6d0f6',
    cursor_border = '#c6d0f6',
}
-- The default term is 'xterm-256color'. I could change that to wezterms own
-- terminfo with the following cmd:
-- config.term = 'wezterm'
config.enable_kitty_keyboard = true
config.disable_default_key_bindings = true
config.keys = {
    { key = "=", mods = "CMD", action = wezterm.action.IncreaseFontSize },
    { key = "-", mods = "CMD", action = wezterm.action.DecreaseFontSize },
    { key = "q", mods = "CMD", action = wezterm.action.QuitApplication },
    { key = 'c', mods = 'CMD', action = wezterm.action.CopyTo 'Clipboard' },
    { key = 'v', mods = 'CMD', action = wezterm.action.PasteFrom 'Clipboard' },
    -- WezTerm fully supports the Kitty keyboard protocol, but `Ctrl -` currently
    -- doesn't emit a CSI-u sequence as expected. Manually send the correct
    -- escape code so it behaves consistently across terminals.
    { key = "-", mods = "CTRL", action = wezterm.action.SendString("\x1b[45;5u") },
}

return config
