-- vim: set ft=lua:

local function read_file(path)
    local f = io.open(path, "r")
    if not f then return nil end
    local s = f:read("*l")
    f:close()
    return s
end

local function current_tinty_scheme()
    local path = os.getenv("HOME") .. "/.local/share/tinted-theming/tinty/artifacts/current_scheme"
    local s = read_file(path)
    if not s or s == "" then return end
    return s
end

local wezterm = require 'wezterm'
local config = {}

-- The default term is 'xterm-256color'. I could change that to wezterms own
-- terminfo with the following cmd:
-- config.term = 'wezterm'
config.font = wezterm.font 'FiraCode Nerd Font Mono'
---@diagnostic disable-next-line: malformed-number
config.font_size = {{ .fontsize }}
config.enable_tab_bar = false
config.audible_bell = 'Disabled'
config.color_scheme = current_tinty_scheme() or 'tokyonight'
config.enable_kitty_keyboard = true
config.keys = {
    -- Disable some default keymaps that collide with zellij
    { key = "1", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "2", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "3", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "4", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "5", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "6", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "7", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "8", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "9", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
    { key = "=", mods = "CTRL", action = wezterm.action.DisableDefaultAssignment },
    { key = "H", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "L", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "J", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "K", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "T", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "W", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "Q", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "Z", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "N", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "P", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "F", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "X", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "M", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "R", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "U", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "+", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "_", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
    { key = "Tab", mods = "CTRL", action = wezterm.action.DisableDefaultAssignment },
    { key = "r", mods = "CMD", action = wezterm.action.SendKey { key = "r", mods = "META" } },

    -- WezTerm fully supports the Kitty keyboard protocol, but `Ctrl -` currently
    -- doesn't emit a CSI-u sequence as expected. Manually send the correct
    -- escape code so it behaves consistently across terminals.
    { key = "-", mods = "CTRL", action = wezterm.action.SendString("\x1b[45;5u") },

    -- These are conventional macOS keymaps
    { key = 'f', mods = 'CMD|CTRL', action = wezterm.action.ToggleFullScreen },
    { key = 'h', mods = 'CMD', action = wezterm.action.HideApplication },
}

return config
