# vim: set ft=conf:

# Add additional sources for brew packages.
tap "homebrew/cask"
tap "homebrew/cask-fonts"

# Not configurable packages
brew "mas"
brew "chezmoi" 

# Configurable packages
{{- if .install.bat }}
brew "bat"
{{- end }}

{{- if .install.bottom }}
brew "bottom"
{{- end }}

{{- if .install.cmake }}
brew "cmake"
{{- end }}

{{- if .install.conda }}
cask "miniconda"
{{- end }}

{{- if .install.exa }}
brew "exa"
{{- end }}

{{- if .install.fd }}
brew "fd"
{{- end }}

{{- if .install.go }}
brew "go"
{{- end }}

{{- if .install.iproute2 }}
brew "iproute2mac"
{{- end }}

{{- if .install.lf }}
brew "lf"
{{- end }}

{{- if .install.neofetch }}
brew "neofetch"
{{- end }}

{{- if .install.neovim }}
brew "neovim"
{{- end }}

{{- if .install.nerdfonts }}
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
{{- end }}

{{- if .install.ninja }}
brew "ninja"
{{- end }}

{{- if .install.nmap }}
brew "nmap"
{{- end }}

{{- if .install.node }}
brew "node"
{{- end }}

{{- if .install.perl }}
brew "perl"
{{- end }}

{{- if .install.ripgrep }}
brew "ripgrep"
{{- end }}

{{- if .install.ruby }}
brew "ruby"
{{- end }}

{{- if .install.sd }}
brew "sd"
{{- end }}

{{- if .install.shellcheck }}
brew "shellcheck"
{{- end }}

{{- if .install.starship }}
brew "starship"
{{- end }}

{{- if .install.tldr }}
brew "tealdeer"
{{- end }}

{{- if .install.tmux }}
brew "tmux"
{{- end }}

{{- if .install.tree }}
brew "tree"
{{- end }}

{{- if .install.wget }}
brew "wget"
{{- end }}

{{- if .install.xclip }}
brew "xclip"
{{- end }}

{{- if .install.alacritty }}
cask "alacritty"
{{- end }}

{{- if .install.amphetamine }}
mas "Amphetamine", id: 937984704
{{- end }}

{{- if .install.anki }}
cask "anki"
{{- end }}

{{- if .install.appcleaner }}
cask "appcleaner"
{{- end }}

{{- if .install.chrome }}
cask "google-chrome"
{{- end }}

{{- if .install.discord }}
cask "discord"
{{- end }}

{{- if .install.docker }}
cask "docker"
{{- end }}

{{- if .install.etcher }}
cask "balenaetcher"
{{- end }}

{{- if .install.firefox }}
cask "firefox"
{{- end }}

{{- if .install.folx }}
cask "folx"
{{- end }}

{{- if .install.iterm2 }}
cask "iterm2"
{{- end }}

{{- if .install.jabref }}
cask "jabref"
{{- end }}

{{- if .install.keka }}
cask "keka"
{{- end }}

{{- if .install.kitty }}
cask "kitty"
{{- end }}

{{- if .install.lulu }}
cask "lulu"
{{- end }}

{{- if .install.magnet }}
mas "Magnet", id: 441258766
{{- end }}

{{- if .install.meld }}
cask "meld"
{{- end }}

{{- if .install.seafile }}
cask "seafile-client"
{{- end }}

{{- if .install.signal }}
cask "signal"
{{- end }}

{{- if .install.sublime  }}
cask "sublime-text"
{{- end }}

{{- if .install.texifier }}
cask "texifier"
{{- end }}

{{- if .install.transmission }}
cask "transmission"
{{- end }}

{{- if .install.typora }}
cask "typora"
{{- end }}

{{- if .install.vlc }}
cask "vlc"
{{- end }}

{{- if .install.wireshark }}
cask "wireshark"
{{- end }}

{{- if .install.xld }}
cask "xld"
{{- end }}

{{- if .install.yate }}
cask "yate"
{{- end }}

{{- if .install.zoom }}
cask "zoom"
{{- end }}
