# vim: set ft=bash:

info 'Update apt'
log sudo apt -y update

info 'Upgrade apt'
log sudo apt -y upgrade

info 'Autoremove apt'
log sudo apt -y autoremove

if [ ! -f "$XDG_CONFIG_HOME/aptitude/Aptfile" ]; then
    error 'Could not find Aptfile'
    exit 1
fi

info 'Install packages from Aptfile'
log sudo apt -y install \
    $(grep -vE '^\s*#' "$XDG_CONFIG_HOME/aptitude/Aptfile"  | tr '\n' ' ')
