# vim: set ft=bash:

if ! has brew; then
    info 'Installing homebrew'
    brew_url='https://raw.githubusercontent.com/Homebrew/install/master/install.sh'
    log NONINTERACTIVE=1 bash -c "$(curl -fsSL "$brew_url")"
    # Add brew to path so we can use it
    eval "$(/opt/homebrew/bin/brew shellenv)"
    log brew update
    log brew tap 'homebrew/bundle'
fi

info 'Installing formulas from Brewfile'
brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile"
