# vim: set ft=bash:

# Tmux is defined as external source. We just run the install script.

if [[ ! -x "$FZF_BASE/bin/fzf" ]]; then
    info 'Initialize FZF'
    # The installation scrip of fzf downloads the executable and generates
    # scripts for zsh and bash in $XDG_CONFIG_HOME/fzf to enable keybindings and
    # completion.
    "$FZF_BASE/install" --key-bindings --completion --no-update-rc --xdg \
        >> "$BOOTSTRAP_LOG_FILE" 2>&1
fi
