# vim: set ft=bash:

set -euo pipefail
source ~/.local/share/chezmoi/.script_helper
source ~/.config/shell/env

if has brew; then
    info 'Update homebrew'
    brew update
else
    info 'Install homebrew'
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

    # Add brew to path so we can use it
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

info 'Install formulas from Brewfile'
NONINTERACTIVE=1 brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile"

# Delete the chezmoi binary installed by the 'curl | sh' script, since we
# already have it installed via homebrew.
if [ -f "$HOME/.local/bin/chezmoi" ]; then
    rm "$HOME/.local/bin/chezmoi"
fi

{{- if .install.rust }}

if has rustup; then
    info 'Rustup already installed'
else
    info 'Install rust and cargo'
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash -s -- --no-modify-path -y
    source "$CARGO_HOME/env"
fi

{{- end }}
