# vim: set ft=bash:

source ~/.local/share/chezmoi/.script_helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

# Cache the sudo password for subsequent sudo commands within this script
sudo true

if has brew; then
    info 'Update homebrew'
    brew update
else
    info 'Install homebrew'
    brew_url='https://raw.githubusercontent.com/Homebrew/install/master/install.sh'
    NONINTERACTIVE=1 bash -c "$(curl -fsSL "$brew_url")" >> "$BOOTSTRAP_LOG_FILE" 2>&1

    # Add brew to path so we can use it
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

info 'Install formulas from Brewfile'
brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile"

{{- if .install.rust }}

if has rustup; then
    info 'Rustup already installed'
else
    info 'Install rust and cargo'
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash -s -- --no-modify-path -y
    source "$CARGO_HOME/env"
fi

{{- end }}
