# vim: set ft=bash:

if ! has nvim; then
    {{ if eq .chezmoi.os "darwin" }}
    info 'Installing neovim'
    log brew update
    log brew install neovim

    {{ else if and (eq .chezmoi.os "linux") (or
        (eq .chezmoi.osRelease.id "ubuntu")
        (eq .chezmoi.osRelease.id "pop")
        (eq .chezmoi.osRelease.id "kali")) }}
    if has snap; then
        info 'Installing neovim'
        log sudo snap install nvim --classic
    else
        {{ template "snap.tmpl" . }}
    fi

    {{ else }}
    error 'No neovim installation instructions found for this system'
    exit 1
    {{ end }}
fi

if has nvim; then
    if [ ! -d "$XDG_DATA_HOME/nvim/lazy" ]; then
        info 'Installing nvim plugins'
        # TODO: this command does not install all neovim plugins.
        log nvim --headless '+Lazy! sync' +qa
    fi
fi
