# vim: set ft=bash:

# I don't print any output because the code is run even when nerdfonts are
# installed. I don't know how to check this in a potable way.

{{ if eq .chezmoi.os "darwin" }}
log brew update
log brew install --cask 'font-fira-code-nerd-font'
log brew install --cask 'font-meslo-lg-nerd-font'
{{ end }}

# Nerdfonts for linux are installed as external source

{{ if eq .chezmoi.os "linux" }}
# Update font cache
log fc-cache -f -v
{{ end }}
