# vim: set ft=bash:

if ! has snap; then
    info 'Installing snap'
    log sudo apt -y update
    log sudo apt -y install snapd

    {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "kali") }}
    log sudo systemctl enable --now snapd snapd.apparmor
    {{ end }}

    warn "The system needs a restart in order to use snap. Run 'chezmoi apply' after the restart to continue the installation."
    info 'Press any key to restart!'
    read -n 1 -s -r
    sudo reboot now

    # # Update the repeat.hash content with a new SHA hash of the current time.
    # # This action ensures that the install script re-executes after running
    # # 'chezmoi apply' on a rebooted system.
    # date | shasum | awk '{print $1}' > "$XDG_DATA_HOME/chezmoi/.scriptstate/repeat.hash"

else
    info 'Installing packages from Snapfile'
    while read -r line; do
        log sudo snap install $line
    done < <(grep -vE '^\s*(#|$)' "$XDG_CONFIG_HOME/snap/Snapfile")
fi
