# vim: set ft=bash:

if ! has snap; then
    {
        sudo apt -y update
        sudo apt -y install snapd
        {{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "kali") }}
        sudo systemctl enable --now snapd apparmor
        {{- end }}
    } >> "$BOOTSTRAP_LOG_FILE" 2>&1
    warn 'Could not install snap packages because the system needs a restart!'
# elif ! systemctl is-active --quiet snapd || systemctl ! is-active --quiet apparmor; then
#     sudo systemctl enable --now snapd apparmor >> "$BOOTSTRAP_LOG_FILE" 2>&1
#     error 'Snap needs a restart. Press any key to restart'
#     read -n 1 -s -r
#     sudo reboot now
else
    info 'Install packages from Snapfile'
    while read -r line; do
        sudo snap install $line >> "$BOOTSTRAP_LOG_FILE" 2>&1
    done < <(grep -vE '^\s*(#|$)' "$XDG_CONFIG_HOME/snap/Snapfile")
fi
