# vim: set ft=bash:

if [ -f "$XDG_CONFIG_HOME/snap/Snapfile" ]; then
    if ! has snap; then
        {{ template "snap.tmpl" . }}
    else
        info 'Installing packages from Snapfile'
        while read -r line; do
            log sudo snap install $line
        done < <(grep -vE '^\s*(#|$)' "$XDG_CONFIG_HOME/snap/Snapfile")
    fi
fi
