# vim: set ft=bash:

# Create the 'tmux-256color' terminfo entry if it is missing. Many systems are
# operating with older 'ncurses' versions (pre-6.3), which do not have the
# 'tmux-256color' terminfo entry included.
if infocmp tmux-256color &> /dev/null; then
    info 'The "tmux-256color" terminfo is already available'
else
    info 'Create terminfo entry for tmux'
    tempdir="$(mktemp -d)"
    url='https://gist.github.com/nicm/ea9cf3c93f22e0246ec858122d9abea1/'
    git clone "$url" "$tempdir" >> "$BOOTSTRAP_LOG_FILE" 2>&1
    pushd "$tempdir"
    tic -x tmux-256color
    popd && rm -rf "$tempdir"
fi
