# vim: set ft=bash:

source ~/.local/share/chezmoi/.script_helper
set -euo pipefail
trap on_error ERR
source ~/.config/shell/env

info 'update font cache'
fc-cache -f -v >> "$BOOTSTRAP_LOG_FILE" 2>&1

{{- if .install.zsh }}

info 'Set zsh as default shell'
chsh -s "$(which zsh)"

{{- end }}
