# vim: set ft=bash:

{{- if .nerdfonts }}
info 'Update font cache'
fc-cache -f -v >> "$BOOTSTRAP_LOG_FILE" 2>&1
{{- end }}

{{- if .install.zsh }}
info 'Set zsh as default shell'
sudo chsh -s "$(which zsh)" "$USER"
{{- end }}
