[colors.bright]
black = "#002b36"
blue = "#839496"
cyan = "#93a1a1"
green = "#586e75"
magenta = "#6c71c4"
red = "#cb4b16"
white = "#fdf6e3"
yellow = "#657b83"

[colors.cursor]
cursor = "#657b83"
text = "#fdf6e3"

[colors.normal]
black = "#073642"
blue = "#268bd2"
cyan = "#2aa198"
green = "#859900"
magenta = "#d33682"
red = "#dc322f"
white = "#eee8d5"
yellow = "#b58900"

[colors.primary]
background = "#fdf6e3"
foreground = "#657b83"

[env]
TERM = "alacritty"

[font]
size = {{ .fontsize }}

[font.bold]
family = "FiraCode Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "FiraCode Nerd Font Mono"
style = "Bold Italic"

[font.italic]
family = "FiraCode Nerd Font Mono"
style = "Italic"

[font.normal]
family = "FiraCode Nerd Font Mono"
style = "Regular"

[[keyboard.bindings]]
chars = "\u001B[48;5u"
key = "Key0"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[49;5u"
key = "Key1"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[50;5u"
key = "Key2"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[51;5u"
key = "Key3"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[52;5u"
key = "Key4"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[53;5u"
key = "Key5"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[54;5u"
key = "Key6"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[55;5u"
key = "Key7"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[56;5u"
key = "Key8"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[57;5u"
key = "Key9"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[59;5u"
key = "Semicolon"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[44;5u"
key = "Comma"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[46;5u"
key = "Period"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[47;5u"
key = "Slash"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[555;0~\u001B[105;5u"
key = "I"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[555;0~\u001B[109;5u"
key = "M"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[13;5u"
key = "Return"
mods = "Control"

[[keyboard.bindings]]
chars = "\u001B[13;2u"
key = "Return"
mods = "Shift"

[scrolling]
history = 10000
multiplier = 3

[window]
decorations = "full"

[window.dimensions]
columns = 135
lines = 33

[window.padding]
x = 10
y = 10
