# vim: set ft=toml:

# Color settings, managed by tinted-terminal
general.import = ["~/.local/share/tinted-theming/tinty/tinted-alacritty-themes-alacritty-file.toml"]

[env]
TERM = "alacritty"

[hints]
enabled = []

[font]
size = {{ .fontsize }}

[font.bold]
family = "FiraCode Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "FiraCode Nerd Font Mono"
style = "Bold Italic"

[font.italic]
family = "FiraCode Nerd Font Mono"
style = "Italic"

[font.normal]
family = "FiraCode Nerd Font Mono"
style = "Regular"

[scrolling]
history = 10000
multiplier = 3

[window]
decorations = "full"

[window.dimensions]
columns = 135
lines = 33

[window.padding]
x = 10
y = 10
